@{
    Layout = "_Layout";
}
<div class="card-section">
    <div class="blog-card">
        <div class="description">
            <h1>
                GenAI Tools
            </h1>
            <p>
                Generative AI tools refer to software or systems that use neural network techniques to
                process and comprehend input data, subsequently producing meaningful responses.
                Scribehow
            </p>
            <div class="read-more">
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="images">
            <div class="image-1">
                <img src="@Url.Content("/images/genaisites/bard_thumbnail.jpg")"
                     alt="" />
            </div>
            <div class="image-2">
                <img src="@Url.Content("/images/genaisites/midjourney_thumbnail.jpg")"
                     alt="" />
            </div>
        </div>
    </div>
</div>
<div class="parallax-container ">
 
    
    <div class="card-section">
        <div class="blog-card">
            <div class="images">
                <div class="image-1">
                    <img src="@Url.Content("/images/genaisites/ms_thumbnail.jpg")"
                         alt="" />
                </div>
                <div class="image-2">
                    <img src="@Url.Content("/images/genaisites/google_thumbnail.jpg")"
                         alt="" />
                </div>
            </div>
            <div class="description">
                <h1>
                    GenAI Organisations
                </h1>
                <p>
                    Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested
                    hundreds of millions of dollars and massive compute power to build the foundational
                    models on which services like ChatGPT and others depend.
                    Gartner
                </p>
                <div class="read-more">
                    <a href="#">Read More</a>
                </div>
            </div>

        </div>
    </div>

    <div class="blog-card">
        <div class="description">
            <h1>
                GenAI Applications
            </h1>
            <p>
                Text: GPT-3, LaMDA, LLaMA, BLOOM and GPT-4.
                Code: OpenAI Codex.
                Images: DALL-E, Midjourney and Stable Diffusion.
                Video: Make-A-Video (Meta Platforms).
                Wikipedia
            </p>
            <div class="read-more">
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="images">
            <div class="image-1">
                <img src="@Url.Content("/images/genaisites/chatgpt_thumbnail.jpg")"
                     alt="" />
            </div>
            <div class="image-2">
                <img src="@Url.Content("/images/genaisites/dalle_thumbnail.jpg")"
                     alt="" />
            </div>
        </div>
    </div>

    <div class="blog-card">
        <div class="images">
            <div class="image-1">
                <img src="@Url.Content("/images/genaisites/pie.jpg")"
                     alt="" />
            </div>
            <div class="image-2">
                <img src="@Url.Content("/images/genaisites/job.jpg")"
                     alt="" />
            </div>
        </div>
        <div class="description">
            <h1>
                AI Jobs
                </h1>
            <p>
                The prime source for jobs and talents in AI, ML, Data Science and Big Data: Insights AIJobs
                Python source for tables and charts: Kaggle.

            </p>
            <div class="read-more">
                <a href="#">Read More</a>
            </div>
        </div>

    </div>
</div>
